.game-body {
    width: 350px;
    height: calc(90% - 4rem);
    max-height: 900px;
    background-color: #512F8B;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-shadow: inset 0px 0px 8px 22px rgba(0, 0, 0, 0.25);
}