*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: url(./images/clouds.png);
  background-color: #C6DDE8;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4rem;
  background: url(./images/terrain.png);
  background-position: bottom;
  background-size: 50%;
}

main {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items:flex-end;
}